.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

div #top {
background-color: #ccc;
padding: 0px 3px;
}

#smallbot {
  font-size: x-small;
}

#smallcomment {
  font-size: x-small;
  margin-bottom:0px;
  clear:both;
}

#comment {
  margin-top: 0px;
}

#upvote {
  background-image: url(http://i.imgur.com/86lTVwm.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  padding: 7px 20px 7px 7px;
}

#downvote {
  background-image: url(http://i.imgur.com/GMREmPb.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  padding: 7px 20px 7px 7px;
}

#upvotepost {
  background-image: url(http://i.imgur.com/86lTVwm.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  padding: 7px 20px 7px 7px;
}

#downvotepost {
  background-image: url(http://i.imgur.com/GMREmPb.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  padding: 7px 20px 7px 7px;
}

#upvotepost {
  background-image: url(http://i.imgur.com/86lTVwm.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  padding: 7px 20px 7px 7px;
}

#downvotepost {
  background-image: url(http://i.imgur.com/GMREmPb.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  padding: 7px 20px 7px 7px;
}

#refresh-this-div {
  display:inline;
}