<div class="container">
  <h1>Welcome to hackernews jr.!</h1>
  <% @posts.each do |x| %>
  <ol>
    <li><p><a href="<%= x.link %>"><%= x.title %></a></p></l1>
    <p></p>
  </ol>
  <% end %>


</div>
